/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.translating{
	background-color: lightyellow;
}

.translating-failed{
	background-color: red;
}

.gwt-simplePanel{
	background-color: black;
}

.gwt-scrollPanel{
	height: 100%;
	width: 100%;
}