.gwt-TabLayoutPanel{
   width: 90%;
   margin: 15px;
}

H1 {
	font-family: Verdana, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	background-color: #323B38;
	width: 100%;
}

.htmlPanel{
	background-color : lightgray;
}

.gwt-Image{
   width: 80%;
   height: 60px;
   margin: 25px;
   border: 1px black solid;
}

#search{
   margin-left: 15px;
}


.feedback{
   color: white;
   height: 250px;
   position: absolute;
   top: 35%;
   right: 0%;
}

.normal{
   background: darkgreen;
   width: 40px;
}

.active{
   background: lightgreen;
   width: 70px;
   cursor: pointer;
   cursor: hand;
}
