@CHARSET "UTF-8";

table {
	border-collapse: collapse;
}

table,th,td {
	border: thin solid black;
	text-align: center;
}

table * .name {
	padding: 4px;
	text-align: right;
}

table td .text {
	width: 500px;
	height: 200px;
	overflow: scroll;
	padding: 4px;
}
